{% extends "base.html" %}

{% block page_content %}
<section class="banner-area py-5" id="banner">
    <div class="overlay"></div>
     <!-- Content -->
     <div class="container">
         <div class="row  align-items-center justify-content-center">
             <div class="col-md-12 col-lg-8">
                <div class="banner-content text-center text-lg-left">
                     <!-- Heading -->
                     <h1 class="display-4 mb-4 ">
                         Industry <br>Leading Managed Services Solutions
                     </h1>

                     <!-- Subheading -->
                     <p class="lead mb-5">
                         Pindom is set of landing and support pages aimed at helping companies promote new products and business launches.
                     </p>

                     <!-- Button -->
                     <p class="mb-0">
                         <a href="#" target="_blank" class="btn btn-primary btn-circled">
                             Purchase now
                         </a>
                     </p>
                 </div>
             </div>
             
             <div class="col-lg-4 ">
                 <div class="banner-contact-form bg-white">
                     <form action="#" >
                         <!-- <div class="form-group">
                             <input type="text" name="name" id="name" class="form-control" placeholder="your Name">
                         </div>
                         <div class="form-group">
                             <input type="text" name="email" id="email" class="form-control" placeholder="your Email">
                         </div>
                         <div class="form-group">
                             <input type="text" class="form-control" name="subject" id="subject" placeholder="your Subject">
                         </div> -->
                         <div class="form-group">
                             <textarea name="q" id="query" cols="30" rows="3" class="form-control" placeholder="Your message"></textarea>
                         </div>
                         <a type="button" id="submitBtn" class="btn btn-dark btn-block btn-circled">Submit a query</a>
                         <div class="form-group">
                            <div id="jjson" class="jjson" style="padding: 23px 23px;"></div>
                         </div>
                        </form>
                 </div>
             </div>
            
         </div> <!-- / .row -->
     </div> <!-- / .container -->
 </section>

<section class="section" id="service">
     <div class="container">
         <div class="row justify-content-center mb-5">
             <div class="col-lg-7 pl-4 text-center">
                 <div class="service-heading">
                     <h1>Get a better deal and start saving money today</h1>
                 </div>
             </div>
         </div>
         
         <div class="row justify-content-center">
             <div class="col-lg-4 col-md-6">
                 <div class="service-block media">
                     <div class="service-icon">
                         <i class="ti-reload"></i>
                     </div>
                     <div class="service-inner-content media-body">
                         <h4>Backup System</h4>
                         <p>Our team are experts in matching you with the right provider.</p>
                     </div>
                 </div>
             </div>
             
             <div class="col-lg-4 mb-3 col-md-6">
                 <div class="service-block media">
                     <div class="service-icon">
                         <i class="ti-cloud"></i>
                     </div>
                     <div class="service-inner-content media-body">
                         <h4>Cloud Hosting</h4>
                         <p>Our team are experts in matching you with the right provider.</p>
                     </div>
                 </div>
             </div>
             
             <div class="col-lg-4 mb-3 col-md-6">
                 <div class="service-block media ">
                     <div class="service-icon">
                         <i class="ti-world"></i>
                     </div>
                     <div class="service-inner-content media-body">
                         <h4>Web hosting</h4>
                         <p>Our team are experts in matching you with the right provider.</p>
                     </div>
                 </div>
             </div>
             
             <div class="col-lg-4 mb-3 col-md-6">
                 <div class="service-block media ">
                     <div class="service-icon">
                         <i class="ti-server"></i>
                     </div>
                     <div class="service-inner-content media-body">
                         <h4>Office Cloud</h4>
                         <p>Our team are experts in matching you with the right provider.</p>
                     </div>
                 </div>
             </div>
             
             <div class="col-lg-4 col-md-6">
                 <div class="service-block media">
                     <div class="service-icon">
                         <i class="ti-world"></i>
                     </div>
                     <div class="service-inner-content media-body">
                         <h4>Web hosting</h4>
                         <p>Our team are experts in matching you with the right provider.</p>
                     </div>
                 </div>
             </div>
             
             <div class="col-lg-4 col-md-6">
                 <div class="service-block media">
                     <div class="service-icon">
                         <i class="ti-cloud"></i>
                     </div>
                     <div class="service-inner-content media-body">
                         <h4>Office Cloud</h4>
                         <p>Our team are experts in matching you with the right provider.</p>
                     </div>
                 </div>
             </div>
         </div>   
         
         <div class="row">
             <div class="col-lg-12 text-center">
                 <p class="pl-3">Want to know more about this? <a href="#">Contact us</a></p>
             </div>
         </div>    
     </div>
 </section>
<section class="section" id="services-2">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-8 col-lg-6 text-center">
                 <div class="section-heading">
                     <!-- Heading -->
                     <h2 class="section-title mb-2 text-white">
                         Web Services
                     </h2>

                     <!-- Subheading -->
                     <p class="mb-5 text-white">
                         Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                     </p>
                 </div>
             </div>
         </div> <!-- / .row -->

         <div class="row">
             <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                 <div class="web-service-block">
                     <i class="ti-light-bulb"></i>
                     <h3>Creative Design</h3>
                     <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                 <div class="web-service-block">
                     <i class="ti-desktop"></i>
                     <h3>Web Development</h3>
                     <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                 <div class="web-service-block">
                     <i class="ti-announcement"></i>
                     <h3>Digital Marketing</h3>
                     <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                 </div>
             </div>

             <div class="col-lg-4 col-sm-6 col-md-6 ">
                 <div class="web-service-block">
                     <i class="ti-layers-alt"></i>
                     <h3>Graphic Design</h3>
                     <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 col-md-6 ">
                 <div class="web-service-block">
                     <i class="ti-mobile"></i>
                     <h3>App Development</h3>
                     <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 col-md-6 ">
                 <div class="web-service-block">
                     <i class="ti-settings"></i>
                     <h3>Wordpress Installation</h3>
                     <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                 </div>
             </div>
         </div>
     </div>
 </section>

<section class="section" id="pricing">
     <!-- Content -->
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-8 col-lg-6 text-center">
                 <div class="section-heading">
                     <!-- Heading -->
                     <h2 class="section-title">
                         Affordable Price Plan
                     </h2>

                     <!-- Subheading -->
                     <p>
                         Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                     </p>
                 </div>
             </div>
         </div> <!-- / .row -->

         <div class="row justify-content-center">
             <div class="col-lg-4 col-sm-6 col-md-6">
                 <div class="pricing-box">
                    <h3>Stnadard</h3>
                     <div class="price-block">
                          <h2><small>$</small>13<span>monthly</span></h2>
                     </div>

                     <ul class="price-features list-unstyled">
                         <li>Unlimited Domain</li>
                         <li>Unmetered Bandwidth</li>
                         <li>Free SSL Certificate </li>
                         <li>20 Email Subscription</li>
                         <li>SSD Hosting</li>
                     </ul>

                     <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 col-md-6">
                 <div class="pricing-box">
                     <h3>Premium</h3>
                     <div class="price-block">
                          <h2><small>$</small>23<span>monthly</span></h2>
                     </div>

                     <ul class="price-features list-unstyled">
                         <li>Unlimited Domain</li>
                         <li>Unmetered Bandwidth</li>
                         <li>Free SSL Certificate </li>
                         <li>20 Email Subscription</li>
                         <li>SSD Hosting</li>
                     </ul>

                     <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-8 col-md-6">
                 <div class="pricing-box ">
                     <h3>Business</h3>
                     <div class="price-block">
                          <h2><small>$</small>33<span>monthly</span></h2>
                     </div>

                     <ul class="price-features list-unstyled">
                         <li>Unlimited Domain</li>
                         <li>Unmetered Bandwidth</li>
                         <li>Free SSL Certificate </li>
                         <li>20 Email Subscription</li>
                         <li>SSD Hosting</li>
                     </ul>

                     <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                 </div>
             </div>
         </div>
     </div>
 </section>

<section id="work-wrap">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="section-heading">
                         <h1>We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <p class="lead">We are providing best service since 1990 to present , committed to best service deliveryNullam metus enim, placerat in lacus vel, porttitor egestas libero. Etiam ex risus, feugiat eget accumsan eu, sagittis eu urna. In eget ultrices metus. Nunc accumsan </p>
                 </div>
             </div>
         </div>
     </section>
 
     <section id="work" class="section-bottom">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 col-md-6 p-0">
                     <div class="work-block">
                         <img src="static/images/work/10.jpg" alt="work-img" class="img-fluid">
                         <div class="overlay-content-block">
                             <h4>Probiz portfolio template</h4>
                             <p>Web Development</p>
                             <a href="single-project.html"><i class="fa fa-link"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 p-0">
                     <div class="work-block">
                         <img src="static/images/work/11.jpg" alt="work-img" class="img-fluid">
                         <div class="overlay-content-block">
                             <h4>Probiz portfolio template</h4>
                             <p>Web Development</p>
                             <a href="single-project.html"><i class="fa fa-link"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 p-0">
                     <div class="work-block">
                         <img src="static/images/work/12.jpg" alt="work-img" class="img-fluid">
                         <div class="overlay-content-block">
                             <h4>Probiz portfolio template</h4>
                             <p>Web Development</p>
                             <a href="single-project.html"><i class="fa fa-link"></i></a>
                         </div>
                     </div>
                 </div>
              
                 <div class="col-lg-3 col-md-6 p-0">
                     <div class="work-block">
                         <img src="static/images/work/15.jpg" alt="work-img" class="img-fluid">
                         <div class="overlay-content-block">
                             <h4>Probiz portfolio template</h4>
                             <p>Web Development</p>
                             <a href="single-project.html"><i class="fa fa-link"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6 p-0">
                     <div class="work-block">
                         <img src="static/images/work/14.jpg" alt="work-img" class="img-fluid">
                         <div class="overlay-content-block">
                             <h4>Probiz portfolio template</h4>
                             <p>Web Development</p>
                             <a href="single-project.html"><i class="fa fa-link"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6 p-0">
                     <div class="work-block">
                         <img src="static/images/work/11.jpg" alt="work-img" class="img-fluid">
                         <div class="overlay-content-block">
                             <h4>Probiz portfolio template</h4>
                             <p>Web Development</p>
                             <a href="single-project.html"><i class="fa fa-link"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6 p-0">
                         <div class="work-block">
                             <img src="static/images/work/10.jpg" alt="work-img" class="img-fluid">
                             <div class="overlay-content-block">
                                 <h4>Probiz portfolio template</h4>
                                 <p>Web Development</p>
                                 <a href="single-project.html"><i class="fa fa-link"></i></a>
                             </div>
                         </div>
                     </div>
             </div>
         </div>
     </section>

<section class="section" id="section-testimonial">
     <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-4 col-sm-12 col-md-12">
                 <div class="section-heading testimonial-heading">
                     <h1>What they say <br>about us</h1>
                     <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p>
                 </div>
             </div>
             <div class="col-lg-8 col-sm-12 col-md-12">
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="static/images/client/test-1.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Will Barrow</h4>
                                    <h6>Sunrise Paradise Hotel</h6>
                                </div>
                            </div>

                             Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                             <i class="fa fa-quote-right"></i>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="static/images/client/test-2.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Will Barrow</h4>
                                    <h6>Sunrise Paradise Hotel</h6>
                                </div>
                            </div>

                             Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                             <i class="fa fa-quote-right"></i>
                         </div>
                     </div>
                 </div>
                 
                  <div class="row">
                     <div class="col-lg-6">
                         <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="static/images/client/test-3.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Will Barrow</h4>
                                    <h6>Sunrise Paradise Hotel</h6>
                                </div>
                            </div>

                             Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                             <i class="fa fa-quote-right"></i>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="static/images/client/test-4.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Will Barrow</h4>
                                    <h6>Sunrise Paradise Hotel</h6>
                                </div>
                            </div>

                             Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                             <i class="fa fa-quote-right"></i>
                         </div>
                     </div>
                 </div>
                 
                  <div class="row">
                     <div class="col-lg-6">
                         <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="static/images/client/test-5.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Will Barrow</h4>
                                    <h6>Sunrise Paradise Hotel</h6>
                                </div>
                            </div>

                             Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                             <i class="fa fa-quote-right"></i>
                         </div>
                     </div>
                     
                     <div class="col-lg-6">
                         <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="static/images/client/test-6.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Will Barrow</h4>
                                    <h6>Sunrise Paradise Hotel</h6>
                                </div>
                            </div>

                             Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                             <i class="fa fa-quote-right"></i>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
<section class="section" id="blog">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-8 col-lg-6 text-center">
                 <div class="section-heading">
                     <!-- Heading -->
                     <h2 class="section-title">
                         Read our latest news
                     </h2>

                     <!-- Subheading -->
                     <p>
                         Our duty towards you is to share our experience we're reaching in our work path with you.
                     </p>
                 </div>
             </div>
         </div> <!-- / .row -->

         <div class="row justify-content-center">
             <div class="col-lg-4 col-md-6">
                 <div class="blog-box">
                     <div class="blog-img-box">
                         <img src="static/images/blog/blog-1.jpg" alt="" class="img-fluid blog-img">
                     </div>
                     <div class="single-blog">
                         <div class="blog-content">
                             <h6> 17 October 2018</h6>
                             <a href="#">
                                 <h3 class="card-title">Top tips to speed up your site in a speedy time</h3>
                             </a>
                             <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                             <a href="#" class="read-more">Read More</a>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-4 col-md-6">
                 <div class="blog-box">
                     <div class="blog-img-box">
                         <img src="static/images/blog/blog-2.jpg" alt="" class="img-fluid blog-img">
                     </div>
                     <div class="single-blog">
                         <div class="blog-content">
                             <h6> 17 October 2018</h6>
                             <a href="#">
                                 <h3 class="card-title">Brand your site value with marketing strategies</h3>
                             </a>

                             <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                              <a href="#" class="read-more">Read More</a>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-4 col-md-8">
                 <div class="blog-box">
                     <div class="blog-img-box">
                         <img src="static/images/blog/blog-3.jpg" alt="" class="img-fluid blog-img">
                     </div>
                     <div class="single-blog">
                         <div class="blog-content">
                             <h6> 17 October 2018</h6>
                             <a href="#">
                                 <h3 class="card-title">Website Optimization is very essential for site speed</h3>
                             </a>
                             <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                              <a href="#" class="read-more">Read More</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
<!-- Json Viewer -->
<link href="{{ url_for('static',path ='css/jjsonviewer.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>	
$(document).on('click', '#submitBtn', function(){
    var q = $('#query').val();
    $.ajax({
        url: "/predict?q="+q, 
        success: function(data){

            $("#jjson").jJsonViewer(JSON.stringify(data, null, 2));
        
    },error: function (jqXHR, textStatus, errorThrown) {
       
        },
        complete: function (jqXHR, textStatus) {
            if (textStatus == 'error') {
                alert(jqXHR.responseJSON['detail'][0]['msg'])
            }
        }})

// jss viewer
!function($){

	'use strict';

	$.fn.jJsonViewer = function(jjson, options) {
    return this.each( function() {
    	var self = $(this);
    	if (typeof jjson == 'string') {
  			self.data('jjson', jjson);
    	}
    	else if(typeof jjson == 'object') {
  			self.data('jjson', JSON.stringify(jjson))
    	}
    	else {
  			self.data('jjson', '');
    	}
    	new JJsonViewer(self, options);
    });
	};

	function JJsonViewer(self, options) {
		self.html('<ul class="jjson-container"></ul>');
		try {
			var json = $.parseJSON(self.data('jjson'));
			options = $.extend({}, this.defaults, options);
			var expanderClasses = getExpanderClasses(options.expanded);
			self.find('.jjson-container').append(json2html([json], expanderClasses));
		} catch(e) {
			self.prepend('<div class="jjson-error" >' + e.toString() + ' </div>');
			self.find('.jjson-container').append(self.data('jjson'));
		}
	}

	function getExpanderClasses(expanded) {
		if(!expanded) return 'expanded collapsed hidden';
		return 'expanded';
	}

	function json2html(json, expanderClasses) {
		var html = '';
		for(var key in json) {
			if (!json.hasOwnProperty(key)) {
				continue;
			}

			var value = json[key],
				type = typeof json[key];

			html = html + createElement(key, value, type, expanderClasses);
		}
		return html;
	}

	function encode(value) {
		return $('<div/>').text(value).html();
	}

	function createElement(key, value, type, expanderClasses) {
		var klass = 'object',
        	open = '{',
        	close = '}';
		if ($.isArray(value)) {
			klass = 'array';
      		open = '[';
      		close = ']';
		}
		if(value === null) {
			return '<li><span class="key">"' + encode(key) + '": </span><span class="null">"' + encode(value) + '"</span></li>';
		}
		if(type == 'object') {
			var object = '<li><span class="'+ expanderClasses +'"></span><span class="key">"' + encode(key) + '": </span> <span class="open">' + open + '</span> <ul class="' + klass + '">';
			object = object + json2html(value, expanderClasses);
			return object + '</ul><span class="close">' + close + '</span></li>';
		}
		if(type == 'number' || type == 'boolean') {
			return '<li><span class="key">"' + encode(key) + '": </span><span class="'+ type + '">' + encode(value) + '</span></li>';
		}
		return '<li><span class="key">"' + encode(key) + '": </span><span class="'+ type + '">"' + encode(value) + '"</span></li>';
	}

	$(document).on('click', '.jjson-container .expanded', function(event) {
		event.preventDefault();
		event.stopPropagation();
		var $self = $(this);
		$self.parent().find('>ul').slideUp(100, function() {
			$self.addClass('collapsed');
		});
	});

	$(document).on('click', '.jjson-container .expanded.collapsed', function(event) {
		event.preventDefault();
		event.stopPropagation();
		var $self = $(this);
		$self.removeClass('collapsed').parent().find('>ul').slideDown(100, function() {
			$self.removeClass('collapsed').removeClass('hidden');
		});
	});

	JJsonViewer.prototype.defaults = {
		expanded: true
	};

}(window.jQuery);
});


</script>
{% endblock %}